.portfolio{
  width: 100%;
  background-color: var(--body-clr);
}

.portfolio .section-head{
  max-width: 700px;
  max-height: 0px auto 25px;
  text-align: center;
}

.section-head h1{
  position: relative;
  font-size: 32px;
  margin: 10px 0px 30px;
  color: var(--primary-clr);
}





/*--buttons--*/

.button-group{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 0.3em;
}

.button-group .button{
  display: inline-block;
  padding: 10px 20px;
  margin: px;
  background-color: #ffffff;
  border: 20px solid #ffffff;
  color: var(--primary-clr);
  font-size:  1.02em;
  
  text-transform: uppercase;
  transition: all 0.4s;
  border: 1px solid #ffffff;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.button-group .button.active{
  background-color: var(--primary-clr);
  color: white;
}

.button-group .button:hover{
  background-color: var(--primary-clr);
  color: white;
}




/*--gallery--*/

div.gallery{
  z-index: -2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

div.gallery .item{
  position: relative;
  margin: 6px;
  width: calc(33.33% -8);
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  animation: slideUp 1s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/*-- gallery  items --*/


.item img{
  z-index: -1;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.6s;
}

div.gallery .item:hover img{
  transform: scale(1.05);
  filter: blur(4px)
}

.item .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;

  scale: 1em;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.item:hover .overlay{
  opacity: 1;
}

.item .overlay a{
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid var(--body-clr);
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.item .overlay a:hover{
  background-color: var(--body-clr);
  color: white;
}



/*-- gallery  reactive --*/

@media(max-width: 1024px){
  div.gallery{
    grid-template-columns: repeat(2, 1fr);
  }

  /*-- gallery hover effect cancle for phone --*/
  div.gallery .item:hover img{
    transform: scale(1);
    filter: blur(0)
  }

  .item:hover .overlay{
    opacity: 0;
  }
}

@media(max-width: 600px){
  div.gallery{
    grid-template-columns: repeat(1, 1fr);
  }

  .button-group .button {
    font-size: 0.7em;
    font-weight: bold;
  }
}